body{
    background-color:blueviolet
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px
    margin: 0;

}

button{
    background-color: black;
    color:blue
    font-family:"bai jamjuree", sans-serif;
}

.passo{
    display: nome;
}